<% content_for :sidebar do %>
	<div class="sidebar_header">
		Program Actions:
	</div>
  	<div class="buttons">
    	<%= make_list "ul", [programShowButton, programReplaceButton, 
			programDeleteButton, programNewButton, programShowAllButton] %>
  	</div>
<% end %>

<%= error_messages_for :program %>

<% form_for(@program) do |f| %>
  <p>
    <b>Name</b> <i>(uniquely identifies the program)</i><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Task type</b> <i>(specifies <a href="/faq/domains">functionality</a> this program supports)</i><br />
    <%= collection_select(:program, :task_type, ["(select one)"]+Domain.names, :to_s, :to_s)%>
  </p>

  <p>
    <b>Programming Language</b> <i>(e.g. C, Java, Python, Ruby, Octave, R, etc.)</i><br/>
    <%= f.text_field :language %>
  </p>

  <p>
    <b>URL</b> <i>(link to more information about this algorithm, e.g., a paper)</i><br/>
    <%= f.text_field :url %>
  </p>

  <p>
  <b>Hyperparameter tuning?</b> <i>(does this program have a hyperparameter that needs to be tuned by MLcomp?)</i><br/>
    <%= f.check_box :tuneable %><br>
  <span id="explain_tuneable" style="display:none">Note: this program must support the proper <a href="/help/program_info.html">program interface</a>.</span>
  </p>

  <p>
    <b>Restrict access?</b> <i>(prevents others from downloading this dataset or any of its runs)</i><br>
    <%= f.check_box :restricted_access %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description, :cols => 80, :rows => 5 %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= observe_field 'program_tuneable',
 	:on => 'checked',
	:function => 'if ($F("program_tuneable")) {
		$("explain_tuneable").show();
	} else {
		$("explain_tuneable").hide();
	}'%>
