<h2>Create new announcement</h2>

<% form_tag(:action => "announcements") do %>
  <label>Subject:</label><br>
  <%= text_field_tag 'email_subject', '', :size => 60 %> <br>
  <label>Body:</label><br>
  <%= text_area_tag 'email_body', '', :rows => 20, :cols => 60 %><br>
<%= submit_tag "Send" %>
<% end -%>

<h2>Announcements to process: <%= Announcement.count(:conditions => 'processed = false') %> out of <%= Announcement.count() %> </h2>