<%= error_messages_for :user %>
<% form_for @user do |f| -%>
<table id="newedit">
    <thead>
        <tr>
            <th colspan="2" >Pick a new password for <%= @user.email %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right"><label>Password:</label></td>
            <td><%= f.password_field :password %></td>
        </tr>
        <tr>
            <td align="right"><label>Confirm Password:</label></td>
            <td><%= f.password_field :password_confirmation %></td>
        </tr>
        
        <tr>
            <td></td>
            <td><%= submit_tag 'Reset' %></td>
        </tr>
    </tbody>
</table>
<% end -%>